<article>
  <h2>Editor input example</h2>
  <st-editor-input class="editor-input"
    [formControl]="formControl"
    [label]="'Input name'"
    [validateJson]="true"
    [maxLength]="1000"
    [errorMessages]="errorMessages"
    [registerSuggestions]="suggestionsFn"
    [language]="'sql'"></st-editor-input>
    <section class="editor-input__buttons">
      <button (click)="setValue()" class="button button-link-primary" >Set template value</button>
      <button (click)="reset()" class="button button-link-primary" >Reset values</button>
    </section>

  <br>
</article>
